# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem will be adressed

**Objetives**
* List popular lenguages in Data Science
* List frequently used libraries in Data Science
* Examples of arithmetic expressions in Python

 **Some of the most popular languages Data scientist use are listed bellow:**

1. Python
2. R
3. Java
4. Scala
5. C++

**There are frequently used libraries used in data science, some of them are:**
1. Pandas
2. NumPy
3. Scikit-learn
4. Plotly


|***Data Science Tools***|
-----------
|JupyterLab|
|RStudio|
|Visual Studio Code|

### Examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers:

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60:

In [6]:
(200/60)

3.3333333333333335

## Autor
Iori Fernando Cocom Peniche